.contact-container {
    padding: 70px;
}

.contact-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.1);
}

.contact-container p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.contact-box h3 {
    font-weight: bold;
}

.contact-box p {
    margin: 5px 0;
}

.form-control {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.send-btn {
    background: #6a0dad;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}

.send-btn:hover {
    background: #540a92;
}



@media (max-width: 768px) {
    .contact-container {
        padding: 50px;
    }

    .contact-box {
        text-align: center;
    }

    .contact-box p {
        font-size: 14px;
    }

    .send-btn {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .contact-container {
        padding: 30px;
    }

    .row {
        flex-direction: column;
    }

    .col-md-5,
    .col-md-7 {
        width: 100%;
        text-align: center;
    }

    .contact-box {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
        font-size: 14px;
    }

    .send-btn {
        width: 100%;
        font-size: 16px;
    }
}

.form-control {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.send-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}