<div class="container contact-container">
    <h2 class="text-center">Let's Connect</h2>
    <p class="text-center">Contact Me</p>

    <div class="row">
        <!-- Left Side: Contact Info -->
        <div class="col-md-5">
            <div class="contact-box">
                <h3>Nikita Jaiswal</h3>
                <p>Feel free to reach out! I am open to collaboration, new projects, and discussions.</p>
                <strong>Thank You!</strong>

                
                <p><br><i class="fas fa-envelope"></i> Email: nikkijaiswal535&#64;gmail.com</p>
                <p><i class="fas fa-phone"></i> Phone: +91-7218707784</p>
            </div>
        </div>

        <!-- Right Side: Contact Form -->
        <div class="col-md-7">
            <form [formGroup] = "contactForm" (ngSubmit) ="onSubmit()" >

                <input type="text" class="form-control" placeholder="Type your name" required formControlName="name">
                <div *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched"
                class = "error">
                    Name is required
                </div>

                <input type="email" class="form-control" placeholder="Type your email" required formControlName = "email">
                <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched" class="error">
                    Enter a valid email address
                </div>
                
                <textarea class="form-control" placeholder="Message box" required formControlName = "message" rows="5"></textarea>


                <button type="submit" class="btn send-btn" [disabled] = "contactForm.invalid">Send Message →</button>
            </form>  
        </div>
    </div>
</div>
