<section id="projects" class="projects-section py-5">
  <div class="container">
    <h2 class="text-center fw-bold mb-5">Projects</h2>

    <div class="row g-4">

      <!-- MediVault -->
      <div class="col-md-6">
        <div class="project-card">
          <h4>MediVault</h4>

          <p>
            A full-stack medical records management system that allows users to securely store,
            access, and manage health data. Built with a scalable backend and responsive frontend.
          </p>

         <p class="tech">
  <span>Angular</span>
  <span>Node.js</span>
  <span>Express</span>
  <span>MongoDB</span>
</p>

          <div class="project-links">
            <a href="#" class="btn btn-dark btn-sm">Live</a>
            <a href="https://github.com/nikitajaiswal13/MediVault" target="_blank" class="btn btn-outline-dark btn-sm">GitHub</a>
          </div>
        </div>
      </div>

      <!-- SkillSync -->
      <div class="col-md-6">
        <div class="project-card">
          <h4>SkillSync</h4>

          <p>
            A frontend application to track and manage user skills with a clean and intuitive UI.
            Designed to improve productivity and skill organization.
          </p>

                   <p class="tech">
  <span>Angular</span>
  <span>Bootstrap</span>
</p>

          <div class="project-links">
            <a href="https://skillsync-angular.netlify.app/dashboard" target="_blank" class="btn btn-dark btn-sm">Live</a>
            <a href="https://github.com/nikitajaiswal13/SkillSync" target="_blank" class="btn btn-outline-dark btn-sm">GitHub</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>